<div class="container">
  <div class="typography-h3 gutter-bottom">Talks</div>
  <div class="content">
    <app-talk-filter
      [active]="activeFilter$ | async"
      [filters]="filters"
      (update)="changeFilter($event)">
    </app-talk-filter>
    <div>
      <app-card [header]="talk.title" *ngFor="let talk of talks$ | async">
        <div>
          <p class="text-secondary">
            <i class="fas fa-calendar-alt icon"></i>
            {{talk.date | date:"EEE MMM d, y, h:mm a" }}
          </p>
          <p class="text-secondary">
            <i class="fas fa-user icon"></i>
            {{talk.presenter}}
          </p>
          <p class="typography-body">
            {{talk.description}}
          </p>
        </div>
      </app-card>
    </div>
  </div>
</div>
