<div>
  <div class="article-header">
    <h1>Talks</h1>
  </div>
  <div class="container">
    <app-talk-filter
      [active]="activeFilter$ | async"
      [filters]="filters"
      (update)="changeFilter($event)">
    </app-talk-filter>
    <div class="list">
      <div class="card" *ngFor="let talk of talks$ | async">
        <h2>{{ talk.title }}</h2>
        <div class="card-content">
          <p>{{talk.date}}</p>
          <div>
            <i class="fas fa-user"></i>
            {{talk.presenter}}
          </div>
          <p>{{talk.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
