@import "mixins";

:host {
  width: 100%;
}

.container {
  padding-top: 16px;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-content {
  display: flex;
  flex-direction: column;

  @include md {
    flex-direction: row;
  }
}

.talk-list {
  width: 100%;
}
