<div>
  <div class="article-header">
    <div class="typography-h3">Talks</div>
  </div>
  <div class="container">
    <app-talk-filter
      [active]="activeFilter$ | async"
      [filters]="filters"
      (update)="changeFilter($event)">
    </app-talk-filter>
    <div class="list">
      <app-card [header]="talk.title" *ngFor="let talk of talks$ | async">
        <div>
          <p class="text-secondary">
            <i class="fas fa-calendar-alt icon"></i>
            {{talk.date}}
          </p>
          <p class="text-secondary">
            <i class="fas fa-user icon"></i>
            {{talk.presenter}}
          </p>
          <p class="typography-body">
            {{talk.description}}
          </p>
        </div>
      </app-card>
    </div>
  </div>
</div>
