@import "variables";

.tab {
  padding: 12px;
  cursor: pointer;
}

.title {
  width: 100%;
  font-weight: bold;
  color: $gray-600;

  &.active {
    border-right: 4px solid $primary;
    color: $primary;
  }
}
