/* You can add global styles to this file, and also import other style files */
/* Global Styles */
@import "variables";

html {
  font-family: $font-family;
  font-size: 14px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-color: $white-100;
  color: $text;
}

.icon {
  padding-right: 4px;
  font-size: 16px;
}

.container-fluid {
  max-width: 1034px;
  display: flex;
  align-items: flex-start;
  margin: 0 auto;
}

.gutter-bottom {
  padding-bottom: 16px;
}
