@import "variables";

.header-4 {
  font-weight: normal;
  font-size: 34px;
  letter-spacing: 0.25px;
}

.header-5 {
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0;
}

.header-6 {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0;
}
