/* Text */
$font-family: 'Inter', Arial, Helvetica, sans-serif;

/* Colors */
$primary: #43B749;
$secondary: #475B63;
$text: #2e3e48;
$text-secondary: rgba(0, 0, 0, 0.54);
$overlay: rgba(0, 0, 0, 0.5);

/* Common Colors */
$white: #fff;
$white-100: #F6F7F8;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

/* Borders */
$border: 1px solid rgba(0,0,0,.125);

/* Box Shadows */
$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
$shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

/* Break Points */
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 922px;
$screen-xl: 1200px;
